@font-face {
	font-family:"Dalle";
	src:url("../fonts/Dalle_Typeface.eot?") format("eot"),
	url("../fonts/Dalle_Typeface.woff") format("woff"),
	url("../fonts/Dalle_Typeface.ttf") format("truetype"),
	url("../fonts/Dalle_Typeface.svg#Dalle") format("svg");
	font-weight: normal;
	font-style:normal;
}

@font-face {
	font-family: "Inconsolata";
	src: url("../fonts/Inconsolata-Regular.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inconsolata";
	src: url("../fonts/Inconsolata-Bold.ttf") format("ttf");
	font-weight: bold;
	font-style: normal;
}
