<style lang="sass" scoped>
    .project-display-container {
        display: flex;
    }
</style>

<template>
    <div class="project-display-container">
        <!-- project disply's go here !-->
        <slot>
    </div>
</template>
