
<style lang="sass" scoped>
.project-display {
	width: 100px;
	height: 100px;
	background-color: #50E3C2;
	display: inline-block;
	flex: 1;
}
</style>

<template>
	<div class="project-display">
		<p>sup</p>
	</div>
</template>
