<style lang="sass" scoped>
	footer {
		background-color: #4A4A4A;
		color: white;
		padding: 1rem;
		p {
			text-align: center;
			font-size: 1.2rem;
		}
		a {
			color: #50E3C2;
		}
		#copyright-sign {
			font-size: 1.6rem;
		}
	}
</style>

<template>
	<footer>
		<p><span id="copyright-sign">&copy;</span> Cor Pruijs <a href="mailto:cor@pruijs.nl">cor@pruijs.nl</a></p>
	</footer>
</template>