
<style lang="sass" scoped>

.site-header {
	text-align: center;

	background-color: white;
	border-bottom: 2px solid #4A4A4A;

	padding: 0.5em;

	img {
		max-width: 512px;

	}
}

</style>

<template>

<div class="site-header">
	<img src="art/logo.png" alt="CorCoder logo">
</div>

</template>
