<style lang="sass" scoped>
aside {
	flex: 0 0 13rem;
	padding: 0.5em;
	p {
		margin-bottom: 1rem;
		font-size: 1rem;
	}
}
	
</style>
<template>
	<aside>
		<h2>INFO</h2>
		<hr>
		<p>I am Cor, a 16 year old programmer from the Netherlands who likes to create just about anything.</p>
		<p>I do freelance web development, and created corinehazeleger.com and linkline.nl for my clients.</p>
		<p>Game development is also something I really like, and I've participated in Ludum Dare 32 and 33 (Ludum dare is a game development where you have 48 hours to create a game).</p>
		<p>I also enjoy creating iOS apps/games in Swift and do some occasional Java development</p>
		<p><a href="http://github.com/cor" target="_blank">github.com/cor</a></p>
	</aside>
</template>