<style lang="sass" scoped>
	nav {
		flex: 0 0 13rem;
		order: -1;
		padding: 0.5rem;
	}

	li {
		font-size: 1rem;
		font-family: Inconsolata;
	}

	h3 {
		margin-top: 1rem;
	}
</style>

<template>
	<nav>
		<h2>projects</h2>
		<hr>
		<ul>

			<li><h3>Websites</h3></li>
			<li>corcoder.com</li>
			<li>corinehazeleger.com</li>
			<li>linkline.nl</li>

			<li><h3>Games</h3></li>
			<li>Ludum Dare 32</li>
			<li>Ludum Dare 33</li>
			<li>CannibalFish</li>

			<li><h3>iOS</h3></li>
			<li>Wording iOS app</li>
			<li>BinaryConverter</li>
			<li>Swong</li>
			<li>supercalc</li>
			<li>get-out</li>
			<li>grammatical-gender-trainer</li>
			<li>AwesomeDictionary</li>

			<li><h3>Services</h3></li>
			<li>Wording Rest API</li>

			<li><h3>Web-Demos</h3></li>
			<li>Buttonmasher</li>
			<li>TicTacoToeJS</li>
			<li>Ultimedia</li>
			<li>Clock-JS</li>

			<li><h3>Java</h3></li>
			<li>CandyMachine</li>

			<li><h3>TicTacoToe</h3></li>
			<li>TicTacoToe</li>
			<li>TicTacoToeJS</li>
			<li>TicTacoToe-swift</li>

		</ul>
	</nav>
</template>